<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

    <title>QueenBee</title>

</head>

<body >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">QueenBee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <p class="my-2 my-sm-0">Welcome <%= user.name %></p>
        &nbsp;
        <a href='/logout' class="btn btn-outline-success my-2 my-sm-0">Logout</a>
    </form>
  </div>
</nav>










<div class="container-fluid" style="background-color:#efd8ca">
	<br>
    <div class="row row-content align-items-center con4">
        <div class="col-12 col-md-6 order-sm-first">
            <h1 class='headings'>QueenBee</h1>
			<h3 class='content'>A single website for all your healthcare needs!</h3> 
<br />
     <br /><button type="button" class="btn btn-dark qb-btn">Click me!!!</button><br />
<br />        </div>
        <div class="col-12 col-md-6 order-sm-last">
    	    <img class='front-images d-none d-lg-block' class='img1' src='images/front-bg.jpg'>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#be9a82">
	<br>
    <div class="row row-content align-items-center con4">
        <div class="col-12 col-md-6 order-sm-last order-md-first">
    	    <img class='front-images d-none d-lg-block' src='images/second-bg.jpg'>
			
        </div>
		<div class="col-12 col-md-6 order-sm-last">
            <h1 class='headings'>Track Your Cycles</h1>
			<h3 class='content'>To use JavaScript Standard Style please install JavaScript Standard Style by running 'npm install standard' in the workspace folder hackerbash
or globally using 'npm install -g standard'. You need to reopen the workspace after installing JavaScript Standard Style.</h3> 
<br />
     <br /><button type="button" class="btn btn-dark qb-btn">Click me!!!</button><br />
<br /><br />        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#ebdfcf">
	<br>
    <div class="row row-content align-items-center con4">
        <div class="col-12 col-md-6 order-sm-first">
            <h1 class='headings'>Find a Doctor </h1>
			<h3 class='content'>To use JavaScript Standard Style please install JavaScript Standard Style by running 'npm install standard' in the workspace folder hackerbash
or globally using 'npm install -g standard'. You need to reopen the workspace after installing JavaScript Standard Style.</h3> 
            <br /><button type="button" class="btn btn-dark qb-btn">Click me!!!</button><br />       
        </div>
        <div class="col-12 col-md-6 order-sm-last">
    	    <img class='front-images d-none d-lg-block' src='images/third-bg.jpg'>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#ffeded">
	<br>
    <div class="row row-content align-items-center con4">
        <div class="col-12 col-md-6 order-sm-last order-md-first">
    	    <img class='front-images d-none d-lg-block' src='images/fourth-bg.jpg'>
			
        </div>
		<div class="col-12 col-md-6 order-sm-last">
            <h1 class='headings'>Connect with Others</h1>
			<h3 class='content'>To use JavaScript Standard Style please install JavaScript Standard Style by running 'npm install standard' in the workspace folder hackerbash
or globally using 'npm install -g standard'. You need to reopen the workspace after installing JavaScript Standard Style.</h3> 
            <br /><button type="button" class="btn btn-dark qb-btn">Click me!!!</button><br />        
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#e7d5c0">
	<br>
    <div class="row row-content align-items-center con4">
        <div class="col-12 col-md-6 order-sm-first">
            <h1 class='headings'>Self Diagnosis</h1>
			<h3 class='content'>A single website for all your healthcare needs!</h3> 
<br />
     <br /><button type="button" class="btn btn-dark qb-btn">Click me!!!</button><br />
<br />        </div>
        <div class="col-12 col-md-6 order-sm-last">
    	    <img class='front-images d-none d-lg-block' src='images/fifth-bg.jpg'>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#eecebf">
	<br>
    <div class="row row-content align-items-center con4">
        <div class="col-12 col-md-6 order-sm-last order-md-first">
    	    <img class='front-images d-none d-lg-block' src='./images/sixth-bg.jpg'>
			
        </div>
		<div class="col-12 col-md-6 order-sm-last">
            <h1 class='headings'>Blogs</h1>
			<h3 class='content'>To use JavaScript Standard Style please install JavaScript Standard Style by running 'npm install standard' in the workspace folder hackerbash
or globally using 'npm install -g standard'. You need to reopen the workspace after installing JavaScript Standard Style.</h3> 
            <br /><button type="button" class="btn btn-dark qb-btn" onclick="window.location = './blog';">Click me!!!</button><br />        
        </div>
    </div>
</div>















<footer class="footer" id="contacts">
        <div class="container">
            <div class="row">             
                <div class="col-3 offset-sm-1">
                    <ul class="list-unstyled justify-content-center">
                    	<br>
                      <br>
                        <li ><a href="#" class="link">Home</a></li>
                        <br>
                        <br>
                        <li><a href="https://saumyaguptalfmd.github.io/Restaurant/menu.html" class="link">Menu</a></li>

                    </ul>
                </div>
                <div class="col-6 offset-1 address">
                	<br>
                    <h5>Our Address</h5>
                    <address>
		              121, Clear Water Bay <br>
		              Clear Water Bay, Kowloon<br>
		              INDIA<br>
		              Tel.: +852 1234 5678<br>
		              Fax: +852 8765 4321<br>
		              Email: <a href="mailto:amma@kitchen.net">amma@kitchen.net</a>
		           </address>
                </div>
           </div>
           <div  class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2018 Amma's Kitchen</p>
                </div>
           </div>
        </div>
    </footer>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>